li {
  list-style-type: none;
}

a {
  :hover {
    color: $yellow;
    text-shadow: 2px 2px $brown;
  }
}

// Votes Component
.vote {
  h3 {
    display: inline-block;
  }
  img {
    width:3%;
    height: 3%;
    margin-left: 10px;
  }
}
// End style for Votes Component

// News Component
.news {
  $color: $brown;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;

  h1 {
    text-shadow: 0 1px 0 lighten($color, 27);
  }

  h4 {
    margin-bottom: 2%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      background-color: $yellow;
      color: darken($color, 10);
      margin: 5% 10%;
      border: 5px $brown solid;
      border-radius: 5px;
      padding: 2%;

      &:before {
        display: inline-block;
        color: lighten($color, 40);
        padding: 2px;
        border-radius: 0.5px;
        float: left;
        clear: left;
        text-shadow: -1px -1px 0 darken($color, 10);
        padding: 2px 10px 0 0;
      }
    }
  }

  a {
    color: $brown;
    text-shadow: -0.5px 0 $lightGreen, 0 0.5px $lightGreen, 0.5px 0 $lightGreen,
      0 -0.5px $lightGreen;
    display: block;
    margin: 3% 0;
    font-family: "BenchNine", sans-serif;
    text-decoration: none;

    &:hover {
      background-color: $brown;
      border-radius: 5px;
      padding: 0.5%;
      color: $lightGreen;
      text-shadow: -1px 0 $brown, 0 1px $brown, 1px 0 $brown, 0 -1px $brown;
    }
  }

  .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 10px;
  }
}
//End styles for News

//Form Component
form {
  input[type="text"] {
    width: 100%;
    margin: 2% 0;
  }
  button {
    border: 5px solid $lightGreen;
    border-radius: 5px;
    background-color: $brown;
    color: $yellow;
    margin: 2% 0;

    &:hover {
      border: 5px solid $brown;
      background-color: $lightGreen;
      color: $brown;
    }
  }
}
//End style for form component

//About
.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  p {
    font-family: "BenchNine", sans-serif;
    color: $brown;
    font-size: 1.5em;
  }
  ul {
    text-align: center;
    display: flex;
    align-items: flex-start;
    li {
      flex: 0 50%;
      img {
        width: 75%;
        height: 75%;
        border-radius: 5px;
      }
    }
  }
}
//End About

@media (min-width: 768px) {
  //App Component
  .hero {
    h1 {
      font-size: 4em;
      word-spacing: 20%;
      margin: 10% 0 35% 0;
    }
    h2 {
      font-size: 1.5em;
      margin: 0 0 40% 0;
    }
  }
  //End style for App Component
}

@media (min-width: 768px) {
  .news {
    a {
      display: inline;
      margin: 0 1%;
    }
  }
}
