li {
  list-style-type: none;
}

a {
  :hover {
    color: #f8f05d;
    text-shadow: 2px 2px #654512;
  }
}

// Votes Component
.vote {
  h3 {
    display: inline-block;
  }
}
// End style for Votes Component

// News Component
.news {
  $color: #654512;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;

  h1 {
    text-shadow: 0 1px 0 lighten($color, 27);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      background-color: #f8f05d;
      color: darken($color, 10);
      margin: 5% 10%;
      border: 5px #654512 solid;
      border-radius: 5px;
      padding: 2%;

      &:before {
        display: inline-block;
        color: lighten($color, 40);
        padding: 2px;
        border-radius: 0.5px;
        float: left;
        clear: left;
        text-shadow: -1px -1px 0 darken($color, 10);
        padding: 2px 10px 0 0;
      }
    }
  }
}
//End styles for News

@media (min-width: 768px) {
  //App Component
  .hero {
    h1 {
      font-size: 4em;
      word-spacing: 20%;
      margin: 10% 0 35% 0;
    }
    h2 {
      font-size: 1.5em;
      margin: 0 0 40% 0;
    }
  }
  //End style for App Component
}
